.active-favourite-product {
  display: flex;
  background-color: #ccc;
  padding: 15px 5px;

  &__edit-button {
    margin-right: 5px;
    cursor: pointer;
  }

  &__edit-button:hover {
    transform: scale(1.1);
  }

  p {
    padding: 3px 0;
  }
}

