.error-page-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error-page-container h2 {
    padding: 20px;
}

.error-page-container a {
    display: block;
    color: #bd3e3e;
    padding: 10px 20px;
}