.meal__meal-summary {
    &__header{
        font-size: 0.9rem;
        margin-top: 20px;
    }
    &__macronutrients {
        display: flex;
        margin-top: 10px;
        div {
            padding: 0 5px;
        }
    }
}