.favourite-meals-wrapper {
    min-height: 100%;
}

.favourite-meal{
    display: flex;
    justify-content: space-between;
    border: 2px solid brown;
    padding: 20px 15px;
    margin-bottom: 5px;
    border-radius: 3px;
    cursor: pointer;

}

.favourite-meal:hover {
    background-color: #ccc;
}

.remove-favourite-meal-icon:hover{
    transform: scale(1.1);
}