.add-meal {
    background-color: #8ea9db;
    color: #111;
    padding: 10px 0;
    width: 100%;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.add-meal:hover {
    background-color: #6991e5;
    color: white;
    border: 1px solid white;
    transition: 0.1s;
}
