.app-header {
    width: 100%;
    height: 5vh;
    min-height: 5vh;
    padding: 0 0 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8ea9db;
}

.logo a {
    color: #111;
    text-decoration: none;
}

.header-functionality {
    display: flex;
}

.header-functionality div a {
    /*background-color: #4f0f0f;*/
    color: #111;
    border: none;
    padding: 0 5px;
    cursor: pointer;
    text-decoration: none;
}

.header-functionality div:hover a {
    color: white;
    transition: 0.2s;
}