.meal__header{
    display: flex;
    justify-content: space-between;
}

.meal__header .remove-meal{
    background-color: #000;
    color: #fff;
    border: 1px solid white;
    width: 16px;
    height: 16px;
    border-radius: 20%;
    cursor: pointer;
}