.modal-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.modal-close-btn {
    background-color: #4f0f0f;
    color: #ccc;
    border-radius: 3px;
    cursor: pointer;
}

