@import "src/variables";
.calc-wrap {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 60%;
    background-color: $color-main-calc;
    box-shadow: #3a0808 0 0 2px 2px;
}