$color-main-calc: #4b4f97;
//$color-main-calc: #4b4f97;
$color-support-calc: #6991e5;
//$color-support-calc: #6991e5;
$color-main-background: #ddd;
$color-support-background: #ccc;
$color-support-brown: rosybrown;
$color-buttons-brown: #be6c6c;
$header-height: 5vh;