.meal__add-new-product {
    padding: 10px 0;
}

.meal__dropdown {
    padding: 5px 0;
}

.dropdown-field {
    position: relative;
}

.dropdown-input-clear {
    position: absolute;
    top: 50%;
    border-radius: 3px;
    right: 0.5em;
    transform: translate(0, -50%);
    border: 2px solid black;
    background-color: transparent;
    color: black;
    font-weight: bold;
    padding: 1px 3px;
    cursor: pointer;
}

.dropdown-input {
    width: 100%;
    height: 2em;
    font-size: 1.1em;
    background-color: #ccc;
    border: 1px solid black;
    color: #222;
    padding-left: 5px;
}

.dropdown-input:focus {
    outline: none;
}

.dropdown-list {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #777;
    font-size: 10px;
}

.dropdown-record div{
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 5px 0;
    border-bottom: 1px solid black;

}

.dropdown-record:nth-last-child(1) div{
    border-bottom: none;
}

.dropdown-record div p {
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.dropdown-record div p span {
    padding-left: 10px;
}

.dropdown-record div p span b {
    font-size: 1.2em;
    padding: 0 1px;
}

.confirm {
    background-color: #8ea9db;
    color: #111;
    padding: 1px 5px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #111;
}

.confirm:hover {
    color: white;
}

.find-product, .add-own-product {
    margin-right: 1px;
    background-color: #8ea9db;
    border: 1px solid #111;
    color: #111;
    border-radius: 3px;
    padding: 3px 10px;
    cursor: pointer;
}

.find-product:hover, .add-own-product:hover {
    background-color: #6991e5;
    color: white;
    transition: 0.2s;
}